body{
background-color: aqua;
flex-grow: initial;
}
header{
    display: flex;
    
}
main{
}
.imagenes{
    width: 50%;
    margin: auto;
    display: flex;
}
.item{
    list-style: none;
}
.menu1{
    display: flex;
    justify-content: space-evenly;
}
.border2{
    text-align: center;
}


@media screen and (max-width: 300px) {
    header{
        display: flex;
        
        
    }
    body{
        background-color: rgb(255, 238, 0);
    }
    .logo{
        width: 100%;
        
    }
    .nombre{
        width: 100%;
        text-align: center;
        
    }
    .menu{
        width: 100%;
        text-align: center;
    }

    .registro{
        width: 100%;
        text-align: center;
    }

    .buscar{
        width: 100%;
        display: none;
    }

    .border{
        border: 1px solid rgb(252, 252, 252);
        background-color: rgb(129, 119, 119);
    }
        
    
}
@media screen and (min-width: 301px) and (max-width:600px) {
    header{
    display: flex;
    }
    body{
        background-color: blue;
    }

    .logo{
        width: 50%;

    }

    .nombre{
        width: 100%;
        text-align: center;
    }

    .menu{
        width: 100%;
        text-align: center;
    }

    .registro{
        width: 50%;
        text-align: center;
    }

    .buscar{
        width: 50%;
        display: none;
    } 
    .border{
        border: 1px solid rgb(252, 252, 252);
        background-color: rgb(7, 252, 40);
    }
    
}
@media screen and (min-width: 601px) and (max-width:900px) {
    header{
        display: flex;
    }
    body{
        background-color: red;
    }
    .logo{
        width: 30%;

    }

    .nombre{
        width: 40%;
        text-align: center;
    }

    .menu{
        width: 30%;
        text-align: center;
    }

    .registro{
        width: 50%;
        text-align: center;
    }

    .buscar{
        width: 50%;
    }

    .border{
        border: 1px solid rgb(0, 0, 0);
        background-color: rgb(245, 244, 244);
    }
}
@media screen and (min-width: 901px) and (max-width:1200px) {
    header{
        display: flex;
    }
    body{
        background-color: rgb(142, 25, 133);
    
    }
    .logo{
        width: 30%;
        
    }

    .nombre{
        width: 30%;
        text-align: center;
    }

    .menu{
        width: 30%;
        text-align: center;
    }

    .registro{
        width: 10%;
        text-align: center;
    }

    .buscar{
        width: 100%;
    }
    .border{
        border: 1px solid rgb(252, 252, 252);
        background-color: rgb(189, 149, 39);
    }
}
@media screen and (min-width: 1201px) {
    header{
        display: flex;
    }
    body{
        background-color: rgb(148, 143, 143);
    }
    .logo{
        width: 10%;

    }

    .nombre{
        width: 20%;
        text-align: center;
    }

    .menu{
        width: 40%;
        text-align: center;
    }

    .registro{
        width: 20%;
        text-align: center;
    }

    .buscar{
        width: 10%;
    }
    .border{
        border: 1px solid rgb(252, 252, 252);
        background-color: rgb(252, 36, 7);
    }
}

